@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primary-color-darker: rgb(9, 48, 56);
    --primary-color: rgb(41, 42, 43);
  }
* {
    box-sizing: border-box;
    outline: 0;
  }
body {
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
.nav {
    align-items: center;
    background: #292a2b;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0px auto;
    max-width: 100%;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }
.container {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    max-width: 100%;
    padding: 20px;
  }
.resultado {
      height: 75vh;
      overflow-y: auto;
    }
table {
    border-collapse: collapse;
    width: 100%;
  }
table,
th,
td {
    border: 1px solid black;
    padding: 0 20px;
    text-align: center;
  }
th {
    background-color: #1c87c9;
    color: #ffffff;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: 0px;
  }
tbody tr:nth-child(odd) {
    background: #ffffff;
  }
tbody tr:nth-child(even) {
    background: #f4f4f4;
  }
